/*=============== BASE ===============*/
.body{
  background-color: #F7EFE2;

}
.container {
  max-width: 1200px;

}
/*=============== HEADER ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  background-color: #CCB6A8;
  border-bottom: 2px solid #523221;

  height: 100px;
}

ul {
  list-style: none;
  padding-inline-start: 0px;
}
a {
  text-decoration: none;
}

/*=============== NAV ===============*/
.nav {
  position: relative;
  display: flex;
  justify-content:flex-end;
  align-items: center;
  padding-right: 20px;
}

.nav__centered{
  float: none;
  position: absolute;
  justify-content: center;
  left: 45%;
}

.nav__logo {
  padding-top: 30px;
  padding-bottom: 10px;
  height: 80px;
}

.nav__list {
  display: flex;
}

.nav_item{
  display: flex;
  flex-direction: column;
}

.nav__list {
  justify-content: space-around;
}
.nav__menu{
  float: right;
  padding-top: 20px;
}
/*=============== MEDIA QUERIES ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
  .nav_item {
    display: none;
  }

  .nav__centered{
    display: flex;
    justify-content: center;
    left: 40%;
  }
}
/* For small and medium devices */

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: white;
    width: 100%;
    height: 60px;
    display: grid;
    align-content: center;
    padding-bottom: 10px;
    background-color: #ADB59F;

  }

  .nav__logo{
    padding-top: 80px;
  }
}
/* For medium devices */
@media screen and (min-width: 767px) {
  body {
    margin: 0;
  }
  .nav__img {
    display: none;
  }

  .nav__list {
    column-gap: 20px;
  }
}
/* For large devices */
@media screen and (min-width: 1024px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
}
/*=============== IMAGES ===============*/

img {
  max-width: 100%;
  height: auto;
}

.hidden{
  display:none
}

.hiddenForUsers{

  display:none


}

