body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F7EFE2;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Bordered form */
form {
  margin-left: 10%;
  margin-right: 10%;
  /* border: solid #523221; */
}

/* Full-width inputs */
input[type=text], input[type=password], input[type=url], input[type=number], input[type=date] {
  width: 100%;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #eabd75;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border: 2px solid #523221;

}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}


